
*
{
	padding:0px;
 	margin:0px;
 	box-sizing: border-box;	
}

body, html{
	font-family:Roboto,sans-serif,arial;
	background: lavender;
	font-size: 14px;

}

.Container
{
	background: white;
	height: 950px;
	width: 450px;
	padding: 40px;
	margin: 50px auto 0;
	border-top: 5px solid blue;
	box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.5);
	
}

.Container h2
{
	font-size: 24px;
	line-height: 24px;
	padding: 30px;
	text-align: center;
	
}

.form-container
{	
	width: 100%;
	position: relative;
	margin: 20px auto;
	text-align: center;
	height: auto;
	
}

.form-control
{
	width: 100%;
	height: 35px;
	padding: 0px 15px;
	
}

.form-control:hover, .name:hover
{
	background: #fafafa;
}

.form-container span
{
	margin-left: 35px;
}

.button
{
	background-color: blue;
	color: white;
	height: 35px;
	line-height: 35px;
	width: 100%;
	
}

.button:hover
{
	background: green;
}





.container h2
{
	font-size: 28px;
	line-height: 28px;
	padding: 35px;
	text-align: center;
}

.container h3
{
	font-size: 20px;
	line-height: 20px;
	padding: 25px;
	text-align: center;
}

.input-name
{
	width: 100%;
	position: relative;
	margin: 20px auto;
	text-align: center;
}

.name
{
	height: 35px;
	width: 45%;
	padding: 0px 15px;
}

.input-name span
{
	margin-left: 35px;
}

.text-name
{
	width: 100%;
	height: 35px;
	padding: 0px 15px;
}

.text-name:hover, .name:hover
{
	background: #fafafa;
}

.text-name:focus, .name:focus
{
	border: 1px solid blue;
}
.text-add
{
	height: 100px;
	width: 100%;
	padding: 0px 15px;	
}

.Country
{
	display: inline-block;
	width: 100%;
	height: 35px;
	padding: 0px 15px;
	cursor: pointer;
	border: 1px solid #cccccc;
	color: #7b7b7b;
	border-right: 0;
	background-color: white;
}

.Class
{
	display: inline-block;
	width: 100%;
	height: 35px;
	padding: 0px 15px;
	cursor: pointer;
	border: 1px solid #cccccc;
	color: #7b7b7b;
	border-right: 0;
	background-color: white;
}

.check
{
	margin-right: 15px;
	position: relative;
}

.check::before
{
	content:"";
	display: inline-block;
	width: 8px;
	height: 8px;
	margin-right: 8px;
	vertical-align: -2px;
	border: 2px solid #cccccc;
}

.check::after
{

}

.button
{
	background-color: blue;
	color: white;
	height: 35px;
	line-height: 35px;
	width: 100%;
}

.button:hover
{
	background: green;
}

.width-25%{
	align-items: center;
}



h1{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size:10px;
    text-align: center;
    color:black;
}
.clock{
    display: flex;
}
.clock div{
    margin:10px;
    position:relative;
    border-radius: 5px;
}
.clock span{
    width:100%;
    height:50px;
    background-color: darkcyan;
    opacity: 0.8;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:50px;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.4);
    padding:5px;
    border-radius: 5px;
    
}
.clock .text{
    height:20px;
    font-size:10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: darkgreen;
    opacity: 0.8;
    margin-top:2px;
}
.clock #ampm{
    bottom:0;
    position:absolute;
    width:40px;
    height:20px;
    background-color: green;
    font-size:20px;
}





.form select{
    width: 350px;
    padding: 10px;
    padding-left: 10px;
    background-color: #fff;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 1.2rem;
    box-shadow: 0 5px 10px 0 rgb(0,0,0,0.25);
    cursor: pointer;
}



.main-menu{
	list-style: none;
	float: left;
	margin-top: 18px;
}
.btn{
	background: #F00A0A;
	color: white;
	padding: 5px 10px;
	text-align: center;
}

.btn:hover{
	color: red;
	background: white;
	padding: 3px 3px;
	border: 2px solid #f05462; 
}
.main-menu a{
	font-weight: 500;
	color: white;
	font-size: 15px;
	text-decoration: none;
	
}
.main-menu li{
	float: left;
	padding:12px  15px
}
